<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header role="banner">
        <a href="#" type="logo">
            <img class="logo" src="assets/logo/comdlpng6934979.png" alt="Wolf's Company Logo">
        </a>
        <nav aria-label="Main Navigation" role="navigation">
            <ul>
                <li class="list" style="--clr:red">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list" style="--clr:green">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home"></ion-icon>
                        </span>
                        <span class="text">Home Home</span>
                    </a>
                </li>
                <li class="list" style="--clr:blue">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home"></ion-icon>
                        </span>
                        <span class="text">Home Home Home</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </nav>
        <a href="#" class="button" type="button">
            <span>See More</span>
        </a>
    </header>
</body>
</html>